.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.input-group{
  width: 60%;
  margin: auto;
}
.input-group-btn{
  width: 5% !important;
}
.navbar-form{
  width: 100% !important;
}
